.fail {
    .result {
        &__img {
            position: absolute;
            &:nth-child(1) {
                bottom: 0;
                left: 30px;
                width: 10%;
            }

            &:nth-child(2) {
                top: 0;
                right: 0;
                width: 20%;
            }
            &:nth-child(3) {
                left: 60px;
                top: 40px;
                width: 150px;
            }
            &:nth-child(4) {
                display: none;
            }
            &:nth-child(5) {
                display: none;
            }
        }
    }
}
@media (max-width:990px) {
    .fail {
        .result {
            &__img {
                &:nth-child(1) {
                    display: none; 
                }
                &:nth-child(2) {
                    display: none; 
                }
                &:nth-child(3) {
                    display: none;
                }
                &:nth-child(4) {
                    bottom: 0;
                    left: 0;
                    width: 22%;
                }
                &:nth-child(5) {
                    bottom: 25px;
                    right: 0;
                    width: 100px;
                }
            }
        }
    }
}
@media (max-width:360px) {
    .fail {
        .result {
            &__img {
                
                &:nth-child(4) {
                   display: none;
                }
                &:nth-child(5) {
                    display: block;
                    bottom: -40px;
                    right: 0;
                    width: 90px;
                }
            }
        }
    }
}
